[submodule "main/start/HttpServer/static/_/lib/doe"]
	path = main/start/HttpServer/static/_/lib/doe
	url = https://github.com/anliting/doe.git
[submodule "main/start/HttpServer/static/_/lib/dt"]
	path = main/start/HttpServer/static/_/lib/dt
	url = https://github.com/anliting/dt.git
